doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    a(href='/') Home
    br
    a(href='/pres') Presentations
    br
    a(href='/list') List of songs
    br
    block content
