doctype html
html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1.0, shrink-to-fit=no')
    meta(charset='utf-8')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css')
  body
    nav(class="navbar navbar-expand-sm navbar-light" style="background-color: #f5e0c4;")
      button(class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation")
        span(class="navbar-toggler-icon")
      a(class="navbar-brand" href="#")
        img(src='/img/brand.png', style="height: 50px;margin-right: 20px;")
        span French Music

      div(class="collapse navbar-collapse" id="navbarNav")
        ul(class="navbar-nav")
          li(class="nav-item" + (title == 'Home' ? ' active' : ''))
            a(href='/' class="nav-link") Home
          li(class="nav-item" + (title == 'Presentations' ? ' active' : ''))
            a(href='/pres' class="nav-link") Presentations
          li(class="nav-item" + (title == 'List of songs' ? ' active' : ''))
            a(href='/list' class="nav-link") List of songs
  
    div(class="container")
      block content

      footer
         div(class="row")
            div(class="col-12")
              small © French Music Website for Laurea Express Project 2018

    //bootstrap
    script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js')