extends layout

block content
  h1= title
  p These are some of their most popular songs

  h2 Jacques Brel
  ul
   li Ne me quitte pas
   li Amsterdam
   li Ces gens là

  h2 France Gall
  ul
   li Poupée de cire
   li Les idoles
   li Résiste

