extends layout

block content
  h1 List of songs
  p These are some of their most popular songs

  each singer in singers
    h2=singer.firstname + " " + singer.lastname
    ul
      each song in singer.songs
        li=song.title