extends layout

block content
  h1= title
  h2 Jacques Brel
  img(src='/img/brel.jpg')
  p Jacques Brel (8 April 1929 – 9 October 1978) was a Belgian singer, songwriter, actor and director who composed and performed literate, thoughtful, and theatrical songs that generated a large, devoted following—initially in Belgium and France, later throughout the world.

  h2 France Gall
  img(src='/img/gall.png')
  p Isabelle Geneviève Marie Anne "France" Gall (9 October 1947 – 7 January 2018) was a French singer. She won the Eurovision Song Contest in 1965.